/* HERO SECTION - carousel and trending*/
/* TRENDING */
/* WATCH SECTION - Youtube video section */
/* ARTICLES SECTION - All articles*/
/* DEV TOOL SECTION -prism overwrites and dev tool buttons*/

:root {
  --primary-color: #5387c9;
}

/* Styling classes */
.article {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.article:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

img {
  border-radius: 5px;
}

header {
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
}

/* Show password Button Styling
.signin {
  resize: both;
}

.password_container {
display: flex;
flex-direction: column;
align-items: start;
}

.username_container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.ShowPasswordBtn {
  background-color: #f1f1f1;
  border: none;
  color: #000;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
} */

/* HERO SECTION */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.hero_carousel {
  width: 68%;
}

/* TRENDING */

.hero_trending {
  width: 30%;
  height: 700px;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 10px;
  margin-top: 60px;
}

.trending_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.trending_articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.trending_article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

/* INSPECTION AD */
.admin_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 50px;
  margin-top: 30px;
}

/* WATCH SECTION */
.watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.watch_container {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  background: linear-gradient(90deg, black, #516c91, var(--primary-color));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.youtube_video_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--primary-color);
}

/* ARTICLES SECTION */
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 90%;

}
.divider > h4 {
  font-weight: bold;
  margin-right: 15px;
}
.divider_line {
  border-top: 2px solid var(--primary-color);
  width: 100%;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 90%;
}

.articles_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.big_article_container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.big_article {
  margin-top: 30px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.small_articles_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 30px;
}
.small_article_container_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 10px;
  padding: 10px;
  padding-left: 40px;
  border-left: 1px solid lightgray;
}

.small_article_container_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
  margin: 10px;
  padding-left: 20px;
  border-left: 1px solid lightgray;
}

.small_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  height: 370px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}

.small_article > h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px;
}

.small_article > h3 {
  font-size: 1em;
  margin: 10px;
}

/* DEV TOOL SECTION */
.chat_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: lightgrey;
  cursor: pointer;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
  transition: height 0.1s ease;
  /* overflow: hidden; */
}

.title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.title_container > i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 50px;
  background-color: white;
  height: 30px;
  width: 30px;
  margin-left: 30px;
}
.chat_title {
  font-size: 1.5em;
  margin-left: 10px;
  width: 150px;
}
.notification {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -40px;
  margin-left: -200px;
  background-color: red;
  width: 50px;
  height: 20px;
  border-radius: 50px;
}

.chat_open {
  height: 100px;
  padding: 30px;
  cursor: default;
  border-radius: 25px;
}

.chat_open > button {
  align-self: flex-start;
  margin: 5px;
}

/* remove top right x */
.ui-dialog .ui-dialog-titlebar-close {
  visibility: hidden;
}

/* all dialog boxes */
.ui-dialog {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
  position: fixed !important;
}

.chat > span{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid lightgray;
}

/* html inspect */
.ui-dialog .code pre {
  background-color: #252525;
}

.ui-dialog .code pre code span {
  text-shadow: none !important;
}

.ui-dialog .code pre code {
  text-shadow: none !important;
  color: white !important;
}

/* tag names */
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag,
.token.punctuation {
  color: rgb(127, 142, 211) !important;
}

/* tag attributes */
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: rgb(166, 199, 252) !important;
}

/* attribute text */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #dfb08ad7 !important;
}

/* comments */
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #4eb36f !important;
}
