:root {
  --primary-color: #5387c9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Logo container */
.Header_logo_container {
  display: flex;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
  padding: 1vw;
  border-right: 1px solid lightgray;
  height: 3vw;
}

/* Logo img */
.header_logo > img {
  height: 6vw;
  rotate: 30deg;
}

/* Logo text */
.header_logo > h1 {
  font-size: 3vw;
}

.header_logo_tagline {
  margin-left: 1vw;
  color: grey;
  font-size: 1.5vw;
}

.header_links {
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: space-between;
}

.header_contact,
.header_about {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: default;
  font-size: 1.5vw;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.header_contact_btn,
.header_about_btn {
  display: flex;
  align-items: center;
}

.header_about_btn {
  border-left: 1px solid lightgrey;
  padding-left: 2.2vw;
}

/* Icons next to "contact" and "about" */
.header_contact_btn > i,
.header_about_btn > i {
  display: flex;
  margin-right: .2vw;
  color: white;
  background-color: var(--primary-color);
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 2vw;
  justify-content: center;
  align-items: center;
}

/* "Contact" and "About" text buttons */
.header_contact_btn>a,
.header_about_btn>a {
  text-decoration: none;
  color: black;
}
/* Hide the dropdown content by default */
.header_contact_dropdown,
.header_about_dropdown {
  position: absolute;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 0;
  overflow: hidden;
  transition: all 0.1s ease;
}


.header_about_dropdown {
  margin-left: 5vw;
}

/* Show the dropdown content when the parent div is hovered over */
.header_contact:hover .header_contact_dropdown,
.header_about:hover .header_about_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23vw;
  width: 17vw;
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 20px;
}

/* Contact Dropdown individuals list UL*/
.david_social_list,
.taylor_social_list {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Contact Dropdown names and social logos*/
.david_social_list > li,
.taylor_social_list > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -2vw;
}

/* Contact Dropdown individuals box*/
.header_contact_dropdown ul,
.header_about_dropdown ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contact Dropdown Our names*/
.header_contact_dropdown ul h3 {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  width: 80%;
  font-size: 2vw;
}

/* Contact Dropdown social logos */
.header_contact_dropdown ul > li > .social {
  font-size: x-large;
  margin-right: 1vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
  text-decoration: none;
  font-size: 2vw;
}

/* SIDEBAR SECTION*/
/* Sign-in dropdown button */
.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header_hamburger {
  font-size: 2.5vw;
  color: var(--primary-color);
}

.sidebar {
  align-self: flex-end;
  position: fixed;
  top: 7.5vw;
  right: -2vw;
  width: 300px;
  height: 250px;
  background-color: #F5F5F5;
  z-index: 100;
  padding: 20px;
  right: 0;
  transition: right 0.2s ease-out;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.sidebar-closed {
  width: 0;
  right: -250px;
}

/*Sign in input*/
.signin {
  height: 150px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: small;
}

/* Show password Button Styling */

.ShowPasswordBtn {
  justify-content: center;
}

.username_container,
.password_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
#username,
#password {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-left: 5px;
  height: 35px;
  width: 90%;
  text-align: center;
}

.signin button {
  border: none;
  border: 2px solid var(--primary-color);
  background-color: white;
  border-radius: 10px;
  height: 35px;
  width: 80px;
}

.signin>button:hover {
  background-color: var(--primary-color);
  color: white;
}

.clippy_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.clippy_container>img {
  height: 100px;
}

.task_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 130px;
  margin-top: -10px;
}

.bubble {
  position: relative;
  background: #f9f9f9;
  border-radius: 0.4em;
  width: 105px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #f9f9f9;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.bubble:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-right-color: black;
  border-left: 0;
  border-top: 0;
  margin-top: -11px;
  margin-left: -12px;
}

.task_container>#tM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 115px;
  margin-top: 20px;
}

.task_container>#tM:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}
