:root {
  --primary-color: #5387c9;
}

.footer {
  background-color: var(--primary-color);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
}

.footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.footer_logo > img {
    height: 70px;
    rotate: 30deg;
}

.footer_copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
}

.footer_logo>.footer_copyright>h6 {
  font-size: 1em;
}
